/* Error: Only 1 argument allowed, but 2 were passed.
 *     ,
 * 81  | @mixin transition-base($property: all) {
 *     |        =============================== declaration
 * ... |
 * 105 |   @include transition-base(transform, box-shadow);
 *     |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   scss/styleConjuntov2.scss 105:3  transition-base()
 *   scss/styleConjuntov2.scss 105:3  card-hover()
 *   scss/styleConjuntov2.scss 256:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 1 argument allowed, but 2 were passed.\a     \2577 \a 81  \2502  @mixin transition-base($property: all) {\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 105 \2502    @include transition-base(transform, box-shadow);\a     \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   scss/styleConjuntov2.scss 105:3  transition-base()\a   scss/styleConjuntov2.scss 105:3  card-hover()\a   scss/styleConjuntov2.scss 256:3  root stylesheet";
}
