$displays: block, inline, inline-block, flex, inline-flex, grid, inline-grid, none, contents, flow-root;

@each $display in $displays {
  .d-#{$display} {
    display: $display;
  }
}

$positions: static, relative, absolute, fixed, sticky;

@each $position in $positions {
  .position-#{$position} {
    position: $position;
  }
}