$size-36: 36rem;
$size-2: 2rem;
$size-1: 1rem;

$negre: black;
$blau: blue;
$verd: green;
$verd-oscur: darkgreen;
$blanc: white;

.formulari{
  width: $size-36;
  margin: auto;
  padding: $size-2;
  .camp{
    margin-bottom: $size-1;
    label{
      font-weight: bold;
    }
    input,textarea{
      width: 100%;
      padding: $size-1;
      border: 1px $negre solid;
      font-size: $size-1;
      field-sizing: content;
      &:focus{
        outline: none;
        border: 2px solid blue;
      }
    }
  }
  .boto-enviar{
    padding: $size-1;
    background-color: $verd;
    font-size: $size-1;
    width: 100%;
    color: $blanc;
  }
  .boto-enviar:hover{
    background-color: $verd-oscur;
  }
}