.galeria {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;

    .galeria-item {
        width: 33%;

        .imatge-container {
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            img {
                width: 100%;
                display: block;
            }

            &:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

                img {
                    transform: scale(1.1);
                }
            }
        }

        .titol {
            text-align: center;
            margin-top: 1rem;
            color: darkkhaki;
            font-size: 18px;
        }
    }
}