$size-300px: 300px;
$gruix-border: 1px solid;

$blau-oscur: darkblue;
$gris: grey;
$verd: green;
$blau: blue;
$blanc: white;

$size-1-5: 1.5rem;
$size-1: 1rem;
$size-2: 2rem;

.targeta-producte{
  width: $size-300px;
  border: $gruix-border;
  padding: $size-1-5;

  .titol{
    color: $blau-oscur;
    font-size: $size-1-5;
  }
  .descripcio{
    color: $gris;
    font-size: $size-1;
  }
  .preu{
    font-weight: bold;
    color: $verd;
    font-size: $size-2;
  }
  .boto-compra{
    background-color: $blau;
    color: $blanc;
    padding: $size-1 $size-1-5;
  }
  .boto-compra:hover{
    background-color: $blau-oscur;
  }
}