$size-4: 4rem;
$size-2-5: 2.5rem;
$size-0-625: 0.625rem;
$size-0-9375: 0.9375rem;
$size-0-2: 0.2rem;
$size-0-3: 0.3rem;

$groc-clar: lightyellow;
$gris-oscur: darkgrey;
$blau: blue;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $size-4;
  padding: 0 $size-2-5;
  background-color: $groc-clar;
}

.logo img {
  height: $size-2-5;
  display: block;
}

.navegacio {
  display: flex;
  gap: $size-0-3;
  .enllaç {
    position: relative;
    padding: $size-0-625 $size-0-9375;
    color: $gris-oscur;
    text-decoration: none;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: $size-0-2;
      background-color: $blau;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &:hover {
      color: $blau;

      &::after {
        transform: scaleX(1);
      }
    }

    &.actiu {
      color: $blau;
      font-weight: bold;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}