$color-title: darkblue;
$color-text: grey;
$color-price: green;
$color-button-bg: blue;
$color-button-text: white;
$color-border: black;

$size-card-width: 300px;
$size-padding-lg: 1.5rem;
$size-padding-sm: 1rem;
$size-title: 1.5rem;
$size-text: 1rem;
$size-price: 2rem;
$size-full: 100%;
$size-button-font: 16px;

$border-default: 1px solid $color-border;
$font-bold: bold;

.targeta-producte {
  width: $size-card-width;
  border: $border-default;
  padding: $size-padding-lg;

  .titol {
    color: $color-title;
    font-size: $size-title;
    margin-top: 0;
  }

  .descripcio {
    color: $color-text;
    font-size: $size-text;
  }

  .preu {
    font-weight: $font-bold;
    color: $color-price;
    font-size: $size-price;
  }

  .boto-compra {
    background: $color-button-bg;
    color: $color-button-text;
    padding: $size-padding-sm $size-padding-lg;
    width: $size-full;
    font-size: $size-button-font;

    &:hover {
      background: $color-title;
    }
  }
}