.formulari {
    max-width: 36rem;
    margin: auto;
    padding: 2rem;

    .camp {
        margin-bottom: 1rem;

        label {
            font-weight: bold;
            margin-bottom: 1rem;
        }

        input,
        textarea {
            width: 100%;
            padding: 1rem;
            border: 1px solid black;
            font-size: 1rem;
            field-sizing: content;

            &:focus {
                outline: none;
                border: 2px solid blue;
            }
        }
    }

    .boto-enviar {
        background: green;
        color: white;
        font-size: 1rem;
        width: 100%;
        padding: 1rem;

        &:hover {
            background: darkgreen;
        }
    }
}