.targeta-producte {
    width: 300px;
    border: 1px solid black;
    padding: 1.5rem;

    .titol {
        color: darkblue;
        font-size: 1.5rem;
        margin-top: 0;
    }

    .descripcio {
        color: grey;
        font-size: 1rem;
    }

    .preu {
        font-weight: bold;
        color: green;
        font-size: 2rem;
    }

    .boto-compra {
        background: blue;
        color: white;
        padding: 1rem 1.5rem;
        width: 100%;
        font-size: 16px;

        &:hover {
            background: darkblue;
        }
    }
}