services:
  sass-repaso:
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    container_name: scss-repaso
    working_dir: /app
    volumes:
      - ./:/app
    restart: unless-stopped
